[Unit]
Description=MQTT to PL device bridge
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/sbin/plbridge -c/etc/plbridge
WorkingDirectory=/root
Restart=no
RestartSec=30
User=root

[Install]
WantedBy=multi-user.target
